body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: rgb(255, 255, 255);
  color : #000000;
  margin: 0;
  padding: 0;
}

.chat-box {
  height: 450px;
  overflow: auto;
  padding: 5px;
  border: #484848 1px solid;
  border-radius: 5px;
}

.chat-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-message {
  background-color:#ffffff;
  border: #484848 1px solid;
  border-radius: 5px;
  margin: 10px;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bot-message {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: #484848 1px solid;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message-text pre code {
  white-space: pre-wrap;
}

.user-icon {
  font-size: 20px;
  margin-right: 10px;  
  margin-bottom: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.bot-icon {
  font-size: 20px;
  margin: 5px 5px 10px 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#send-btn{
  background-color: #47a268;
  border: none
}

.copy-right{
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #484848;
}